<div class="flex w-full justify-center">
    <div class="grid lg:grid-cols-3 gap-4">
        <a class="video-hover">
            <div class="content">
                <img src="https://picsum.photos/400/200?1" alt="">
                <p class="small">Video Title</p>
            </div>
            <div class="playbutton">
                WATCH VIDEO
            </div>
        </a>
    </div>
</div>